*{
  padding: 0;
  margin: 0;
}

.title {
  text-align: center;
  margin-top: 30px;
  text-align: center;
  margin-top: 30px;
  color: #241468;
  font-size: 3em;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4; 
}

.container {
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


.paragraph {
  margin-top: 50px;
  text-align: center;
  font-size: large;
  text-decoration: wavy;
  font-size: 2em;
  color: #3F2E3E;
  }

.btnSection{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.shadow-button {
    background-color:#5C4B99;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: larger;
  }

  .shadow-button:hover {
    background-color: #0056b3;
    transform: scale(1.2);
  }